.outline
{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 300px;
    /* border : 2px solid green; */
}

.inner
{
    border:2px dotted black;
    width:fit-content;
    padding:5px;
    height:fit-content;
    margin:10px;
}