<html>
    <body>
        <h1>Welcome {{user}}</h1>
        <table border="1">
        {{#each toys}}
                <tr><td>{{type}}</td><td>{{cost}}</td>
                </tr>
        {{/each}}
</table>
    </body>
</html>